body{
    display: flex;
    justify-content: center;
    text-align: center;
}

.genderMale{
    margin-right: 30px;
}

.formItem{
    margin-bottom: 15px;
}

.checkboxes{
    margin-bottom: 2px;
}

.errors{
    color: rgba(245, 9, 9, 0.575);
    font-size: small;
    
}

label {
    display: block;
}