*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/* :root {
  --primary-color: #bf9e8f;
  --secondary-color: #826f66;
  --tertiary-color: #f7ccac;
  --background-black: #33313b;
  --text-color: #fcf8e8;
  --warning-red: #9c2121;
} */

html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  min-width: 320px;
  padding: 70px 0 0 0;
}
