.days{
    max-width: fit-content;
    text-align: center;
    
}
.cards{
    background-color: #fff;
    border-radius: 20%;
    padding: 3px;
    border: rgb(222, 196, 247) solid 3px;
}

.weatherImages{
    max-width: 50px;
    margin-bottom: 8px;
}
.maxTemperature{
    font-size: 18px;
    color: rgb(48, 47, 47)
}
.minTemperature{
    font-size: 18px;
    color: grey
}

.h5{
    font-size: 20px;
}